@model AdminDashboardViewModel

@{
    ViewData["Title"] = "Profile";

    <style>
        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #383838;
        }
    </style>
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <table class="table table-condensed table-striped" style="color:#f2f2f2">
            <tr>
                <th>Users</th>
                <td>@Model.Users</td>
            </tr>
            <tr>
                <th>Masjids</th>
                <td>@Model.Masjids</td>
            </tr>
            <tr>
                <th>Masjid's With Salaah Times</th>
                <td>@Model.MasjidSalaahTimes</td>
            </tr>
            <tr>
                <th>Masjid's With Notices</th>
                <td>@Model.MasjidNotices</td>
            </tr>
        </table>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <form name="submitMasjidForm" id="submitMasjidForm" method="post">
            <label for="file">Masjids File:</label>
            <input asp-for="MyFile" id="MyFile" name="MyFile" type="file"/>
            <input type="button" onclick="submitMasjid()" value="Upload Masjids File" /> 
        </form>
    </div>

    <div class="col-md-6">
        <form name="submitUsersForm" id="submitUsersForm" method="post">
            <label for="file">Users File:</label>
            <input asp-for="MyFile" id="MyFile2" name="MyFile2" type="file" />

            <input type="button" onclick="submitUsers()" value="Upload Users File" />
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <input type="button" onclick="welcomeEmail()" value="Send Welcome Email" />

        <input type="button" onclick="alignTz()" value="Align Time Zones" />
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<script>
    function alignTz() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("AlignTimeZones", "Administration")',
            success: function (data) {
                alert(data);
            }
        });
    }

    function welcomeEmail() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("WelcomeEmail", "Administration")',
            success: function (data) {
                alert(data);
            }
        });
    }

    var data = new FormData();

    $("#MyFile").change(handleFileSelect);

    $("#MyFile2").change(handleFileSelect2);

    function handleFileSelect2() {
        data.append('file', $('#MyFile2')[0].files[0]);
    };

    function handleFileSelect(){
        data.append('file', $('#MyFile')[0].files[0]);
    };

    function submitUsers() {
        $.ajax({
            type: 'post',
            processData: false,
            contentType: false,
            url: '@Url.Action("UploadUsers", "Administration")',
            data: data,
            success: function (data) {
                if (data == "Successful") {
                    $("#MyFile").trigger('reset');
                    alert("Succeeded");
                }
                else {
                    $("#MyFile").trigger('reset');
                    alert("Failed");
                }
            }
        });
    };

    function submitMasjid() {
        $.ajax({
            type: 'post',
            processData: false,
            contentType: false,
            url: '@Url.Action("UploadMasjid", "Administration")',
            data: data,
            success: function (data) {
                if (data == "Successful") {
                    $("#MyFile").trigger('reset');
                    alert("Succeeded");
                }
                else {
                    $("#MyFile").trigger('reset');
                    alert("Failed");
                }
            }
        });
    };
</script>