@model UserListViewModel

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Administration/_Layout.cshtml";

    <style>
        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #383838;
        }

        .pagination > li > a, .pagination > li > span {
            background-color: #383838;
        }

        .pagination > li.active > a, .pagination > li.active > span {
            background-color: #1FA154;
        }
    </style>
}

<h2>Users</h2>

<div class="row">
    <div class="col-md-12">

        <div class="collapse navbar-collapse in">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="btnDeactivate" class="btn m-r-5"><i style="color:white" class="fa fa-times"></i><span style="color:white; padding-left:10px">Deactivate</span></a></li>
                <li><a id="btnActivate" class="btn m-r-5"><i style="color:white" class="fa fa-paper-plane"></i><span style="color:white; padding-left:10px">Activate</span></a></li>
            </ul>
        </div>

        <table id="maintable" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Full Name</th>
                    <th>Masjid</th>
                    <th>Created At</th>
                    <th>Status</th>
                    <th>Email Confirmed</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Item in Model.Users)
                {
                    <tr>
                        <td>@Item.Email</td>
                        <td>@Item.FullName</td>
                        <td><a href="@Url.Action("MasjidInfo", "Home", new { Id = Item.MasjidId })" target="_blank">
                            @Item.Masjid.Name - @Item.Masjid.Town - @Item.Masjid.Country</a></td>
                        <td>@Item.CreatedAt.ToString("dd MMMM yyyy hh:mm")</td>
                        <td>@Item.ActiveStatus</td>
                        <td>@Item.EmailConfirmed</td>
                        <td>@Item.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#btnActivate").hide();
        $("#btnDeactivate").hide();

        var table = $('#maintable').DataTable({
            responsive: true,
            "dom": '<lf<t>ip>',
            "ordering": false,
            "columns": [
                { "data": "a1" },
                { "data": "a2" },
                { "data": "a3" },
                { "data": "a4" },
                { "data": "a5" },
                { "data": "a6" },
                { "data": "a7" }
            ],
            "columnDefs": [{
                "targets": [0, 1, 2, 4, 5, 6], // column or columns numbers
                "orderable": false,  // set orderable for selected columns
            }],
        });
    });

    $('#maintable tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $('#maintable').DataTable().$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        if ($('#maintable').DataTable().rows('.selected').any()) {
            $("#btnActivate").show();
            $("#btnDeactivate").show();
        } else {
            $("#btnActivate").hide();
            $("#btnDeactivate").hide();
        };
    });

    $("#btnActivate").click(function () {
        if ($('#maintable').DataTable().rows('.selected').any()) {
            BootstrapDialog.show({
                title: 'Confirm Activation',
                message: 'Please confirm that you would like to activate this User',
                buttons: [{
                    label: 'Close',
                    cssClass: 'btn-primary pull-right',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }, {
                    label: 'Confirm',
                    cssClass: 'btn-danger pull-left',
                    action: function (dialogItself) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("UserActivate", "Administration")',
                            data: { "Id": $('#maintable').DataTable().row('.selected').data().a7},
                            success: function (data) {
                                if (data == "Successful") {
                                    location.reload();
                                }
                            }
                        });
                    }
                }]
            });
        };
    });

    $("#btnDeactivate").click(function () {
        if ($('#maintable').DataTable().rows('.selected').any()) {
            BootstrapDialog.show({
                title: 'Confirm Deactivation',
                message: 'Please confirm that you would like to deactivate this User',
                buttons: [{
                    label: 'Close',
                    cssClass: 'btn-primary pull-right',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }, {
                    label: 'Confirm',
                    cssClass: 'btn-danger pull-left',
                    action: function (dialogItself) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("UserDeactivate", "Administration")',
                            data: { "Id": $('#maintable').DataTable().row('.selected').data().a7},
                            success: function (data) {
                                if (data == "Successful") {
                                    location.reload();
                                }
                            }
                        });
                    }
                }]
            });
        };
    });
</script>
