@model Markers

@{
    ViewData["Title"] = "Taqweem Home";

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="Taqweem provides Salaah Times, Perpetual Times and Locations of Masajid worldwide. Find your local masjid or add it if it is not in our database. Lookup Salaah Times for masajid within a radius of your location. " />

    <style>
        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #383838;
        }

        .gm-style .gm-style-iw {
            background-color: #808080 !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 120px !important;
            padding: 10px;
            display: block !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <h1>Taqweem Masjid Guide</h1>
        <h4>Select your location on the map</h4>
    </div>
</div>

<div style="text-align:center;" class="row">
    <div class="row" id="nearestInfo" style="display:none;">
        <div class="col-md-12">
            <table id="nearestDetail" class="table table-bordered table-striped" style="width: 100%;">
                <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Masjid</th>
                        <th>Distance</th>
                        <th>Next Salaah</th>
                        <th>Countdown</th>
                        <th>Salaah Time</th>
                        <th>Ladies Facility</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div id="mapC" class="col-md-8">
        <div id="map" style="height: 600px; width:100%"></div>
    </div>

    <div class="col-md-4">

        <h4 style="color:#88E0AC; "> SETTINGS </h4>
        <div class="thumbnail">
            <div class="caption">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <input type="range" id="rangeInput" name="rangeInput" value="7" min="3" max="300" onchange="updateTextInput(this.value);">
                            
                        </form>
                    </div>
                    <div class="col-md-6">
                        <div id="textInput">Radius: 7 KM</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="located" style="display: none;">
            <h4 style="color:#88E0AC; "> MY LOCATION </h4>
            <div class="thumbnail">
                <div class="caption">
                    <table class="table table-condensed table-striped" style="color: #f2f2f2; border-top: none; border:none">
                        <tr>
                            <th>Date:</th>
                            <td id="currentdate"></td>
                        </tr>
                        <tr>
                            <th>Time:</th>
                            <td id="currenttime"></td>
                        </tr>
                        <tr>
                            <th>Device Timezone:</th>
                            <td id="ctimezone"></td>
                        </tr>
                        <tr>
                            <th>Latitude:</th>
                            <td id="Latitude"></td>
                        </tr>
                        <tr>
                            <th>Longitude:</th>
                            <td id="Longitude"></td>
                        </tr>
                    </table>
                </div>
            </div>

            <h4 style="color:#88E0AC; "> PERPTUAL TIMES</h4>
            <h4 style="color:#88E0AC; "> FOR YOUR LOCATION</h4>

            <div class="thumbnail">
                <div class="caption">
                    <table class="table table-condensed table-striped" style="color: #f2f2f2; border-top: none; border:none">
                        <tr><td>SEHRI ENDS</td><td><img src="~/icons/Suhoor.png" width="50px"></td><td>8:15</td></tr>
                        <tr><td>FAJR</td><td><img src="~/icons/Fajr.png" width="50px"></td><td></td></tr>
                        <tr><td>SUNRISE</td><td><img src="~/icons/Sunrise.png" width="50px"></td><td></td></tr>
                        <tr><td>ISHRAAQ</td><td><img src="~/icons/Ishraaq.png" width="50px"></td><td></td></tr>
                        <tr><td>ZAWAAL</td><td><img src="~/icons/Dhuhr.png" width="50px"></td><td></td></tr>
                        <tr><td>DHUHR</td><td><img src="~/icons/Dhuhr.png" width="50px"></td><td></td></tr>

                        <tr><td>ASR SHAFI</td><td><img src="~/icons/Asar1.png" width="50px"></td><td></td></tr>
                        <tr><td>ASR HANAFI</td><td><img src="~/icons/Asar2.png" width="50px"></td><td></td></tr>
                        <tr><td>SUNSET</td><td><img src="~/icons/Sunset.png" width="50px"></td><td></td></tr>
                        <tr><td>MAGHRIB</td><td><img src="~/icons/Suhoor.png" width="50px"></td><td></td></tr>
                        <tr><td>ISHA</td><td><img src="~/icons/Isha.png" width="50px"></td><td></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUs6gpwmJ8WRZXjIPQH-wyPEu_P2hdHo0&sensor=false"></script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

<script type="text/javascript">

       var directionsDisplay;
       var directionsService = new google.maps.DirectionsService();
       var map;
       var markers;
       var Location;
       var customIcons = {

           Yes: {

               icon: 'http://labs.google.com/ridefinder/images/mm_20_blue.png'

           },

           No: {

               icon: 'http://labs.google.com/ridefinder/images/mm_20_red.png'

           }

       };

       navigator.geolocation.getCurrentPosition(GetLocation);

       function GetLocation(location) {
           Location = { lat: location.coords.latitude, lng: location.coords.longitude };
       }

       function load() {
           var UserLatitude;
           var UserLongitude;
           var ZoomLength = 6;
           UserLatitude = -25;
           UserLongitude = 27;

           if (Location.lat != undefined) {
               UserLatitude = Location.lat;
               UserLongitude = Location.lng;
               ZoomLength = 12;
           }

           map = new google.maps.Map(document.getElementById("map"), {
               center: new google.maps.LatLng(UserLatitude, UserLongitude),
               zoom: ZoomLength,
               mapTypeId: 'roadmap'
           });

           marker = new google.maps.Marker({ position: Location, map: map });

           var infoWindow = new google.maps.InfoWindow;

           geocoder = new google.maps.Geocoder();

           directionsDisplay = new google.maps.DirectionsRenderer();

            @foreach (var Item in Model.Marker) {
                <text>
                    var point = new google.maps.LatLng(
                        parseFloat(@Item.Latitude),
                        parseFloat(@Item.Longitude));

                    var html = "<b>" + '@Item.Name' + "</b> <br/>" + '@Item.Town' +
                                "<br>" + '@Item.Country' + "<br>" + '@Item.Address' +
                                "<br> <a href='#'>View Masjid</a>";

                    var icon = customIcons.Yes || {};

                    var marker = new google.maps.Marker({
                        map: map,
                        position: point,
                        icon: icon.icon
                    });

                    bindInfoWindow(marker, map, infoWindow, html);
                </text>
            }

           google.maps.event.addListener(map, 'click', function (event) {
               marker = new google.maps.Marker({ position: event.latLng, map: map });

               var lat = event.latLng.lat();
               var lng = event.latLng.lng();
               var Radius = document.getElementById('rangeInput').value;

               $("#Latitude").html(lat);
               $("#Longitude").html(lng);

               GetRadiusTimes(lat, lng, Radius, 'Click');
           });
       }
</script>

<script>
       $(document).ready(function () {
           load();
       });

       function GetRadiusTimes(lat, lng, radius, type) {

           if (type == 'Init') { radius = 100; }
           var myLatlng2 = new google.maps.LatLng(-28.732617, 24.754);

           $('#nearestDetail').DataTable().destroy();

           $('#nearestDetail').DataTable({
               ajax: {
                   url: "@Url.Action("NearestMasjidsTable", "Home")",
                    data: { "Latitude": lat, "Longitude": lng, "Radius": radius},
                    suppressSuccess: true,
                    suppressLoading: true
                },
                deferRender: true,
                "ordering": false,
                responsive: true,
                dom: 'rtip',
                "columns": [
                    { "data": "Id" },
                    { "data": "Masjid"},
                    { "data": "Distance" },
                    { "data": "NextSalaah" },
                    { "data": "Countdown" },
                    { "data": "SalaahTime" },
                    { "data": "LadiesFacility" },
                ],
                "columnDefs": [{
                    "render": function (data, type, row) {
                        return '<a href="@Url.Action("MasjidInfo", "Home")/' + row.Id + '">' + data
                    },
                    "targets": 1
                }, {
                    "targets": 0,
                    "visible": false
                }]
           });

           $('#nearestInfo').css('display', 'inline');
           $('#located').css('display', 'inline');
       }

       function checkTime(i) {
           return (i < 10) ? "0" + i : i;
       }

       function calcRoute(pointa, pointb) {
           var request = {
               origin: pointa,
               destination: pointb,
               travelMode: google.maps.TravelMode.DRIVING
           };

           directionsService.route(request, function (response, status) {
               if (status == google.maps.DirectionsStatus.OK) {
                   directionsDisplay.setDirections(response);
               }
           });
       }

       function rad(x) { return x * Math.PI / 180; }

       function bindInfoWindow(marker, map, infoWindow, html) {
           google.maps.event.addListener(marker, 'click', function () {
               infoWindow.setContent(html);
               infoWindow.open(map, marker);
           });
       }

       function doNothing() { }
</script>

<script type="text/javascript">

       function updateTextInput(val) {
            var latitude = $("#Latitude").html();
            var longitude = $("#Longitude").html();

            document.getElementById('textInput').innerHTML = val + "KM";

            if (latitude == "" || longitude == "")
                return;

            GetRadiusTimes(latitude, longitude, val);
        }

            var Timer = 0;

            (function () {

                function checkTime(i) {

                    return (i < 10) ? "0" + i : i;

                }

                function startTime() {
                    Timer += 1;

                    if (Timer == 6) {

                        if (Location.lat != undefined) {
                            UserLatitude = Location.lat;
                            UserLongitude = Location.lng;
                            ZoomLength = 12;

                            var todayz = new Date();
                            var tzn = todayz.getTimezoneOffset();
                            tzn = tzn / -60;

                            document.getElementById("Latitude").innerHTML = UserLatitude;
                            document.getElementById("Longitude").innerHTML = UserLongitude;

                            map.setCenter({
                                lat: UserLatitude,
                                lng: UserLongitude
                            });

                            map.setZoom(16);

                            var micon = customIcons.No || {};

                            var marker = new google.maps.Marker({
                                map: map,
                                position: Location,
                                icon: micon.icon
                            });

                            GetRadiusTimes(UserLatitude, UserLongitude, 7, 'Init');
                        }
                    }

                    if (Timer == 120) {
                        location.reload();
                    }

                    var today = new Date(),
                        h = checkTime(today.getHours()),
                        m = checkTime(today.getMinutes()),
                        s = checkTime(today.getSeconds());

                    var n = today.getTimezoneOffset();
                    n = n / -60;

                    document.getElementById('currentdate').innerHTML = today.toDateString();
                    document.getElementById('currenttime').innerHTML = h + ":" + m + ":" + s;
                    document.getElementById('ctimezone').innerHTML = n;

                    t = setTimeout(function () { startTime() }, 500);
                }

                startTime();
            })();
</script>