@model Markers

@{
    ViewData["Title"] = "Taqweem Home";

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="Taqweem provides Salaah Times, Perpetual Times and Locations of Masajid worldwide. Find your local masjid or add it if it is not in our database. Lookup Salaah Times for masajid within a radius of your location. " />

    <style>
        .timetable {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            color: #000;
            text-align: center;
        }

        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #383838;
        }

        .gm-style .gm-style-iw {
            background-color: #808080 !important;
            top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 120px !important;
            padding: 10px;
            display: block !important;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <h1>Taqweem Masjid Guide</h1>
        <h4>Select your location on the map</h4>
    </div>
</div>

<div id="located" style="text-align:center; visibility: visible;" class="row">
    <div class="row">
        <div class="col-md-3">
            <h4>My Location</h4>
        </div>
        <div class="col-md-3">
            <h4 id="currentdate" style="text-align:center; font-size:18px;" />
        </div>
        <div class="col-md-3">
            <h4 id="currenttime" style="text-align:center; font-size:18px;" />
        </div>
        <div class="col-md-3">
            <h4 id="ctimezone" style="text-align:center; font-size:18px;" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <form>
                <input type="range" id="rangeInput" name="rangeInput" value="7" min="3" max="300" onchange="updateTextInput(this.value);">

                <div id="textInput" >Radius: 7 KM</div>
            </form>
        </div>
        <div class="col-md-3">
            <h4 style="text-align:center; font-size:18px;">Latitude:</h4>
            <h4 id="Latitude" style="text-align:center; font-size:18px;"></h4>
        </div>
        <div class="col-md-3">
            <h4 style="text-align:center; font-size:18px;">Longitude:</h4>
            <h4 id="Longitude" style="text-align:center; font-size:18px;"></h4>
        </div>
        <div class="col-md-3">
            <h4 id="cperp" style="text-align:center; font-size:18px;" />
        </div>
    </div>

    <div class="row" id="nearestInfo" style="display:none;">
        <div class="col-md-12" id="users">
            @*<h3>Masajid within a " + radius + " KM Radius of your marker</h3><br>*@

            <table id="nearestDetail" class="table table-bordered table-striped" style="width: 100%;">
                <thead class="thead-inverse">
                    <tr>
                        <th>Masjid</th>
                        <th>Distance</th>
                        <th>Next Salaah</th>
                        <th>Countdown</th>
                        <th>Salaah Time</th>
                        <th>Ladies Facility</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="map" style="height: 600px; width:100%"></div>
    </div>
</div>


<table border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td><div class="timetable" id="ptimes"></div>
        <td><div id="directionsPanel" class="Font12BrownTahoma"></div></td>
    </tr>
</table>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

<script>
    $(document).ready(function () {
        load();
    });
</script>

<script type="text/javascript">

       var directionsDisplay;
       var directionsService = new google.maps.DirectionsService();
       var map;
       var markers;
       var Location;
       var customIcons = {

           Yes: {

               icon: 'http://labs.google.com/ridefinder/images/mm_20_blue.png'

           },

           No: {

               icon: 'http://labs.google.com/ridefinder/images/mm_20_red.png'

           }

       };

       navigator.geolocation.getCurrentPosition(GetLocation);

       function GetLocation(location) {
           Location = { lat: location.coords.latitude, lng: location.coords.longitude };
       }

       function load() {
           var UserLatitude;
           var UserLongitude;
           var ZoomLength = 6;
           UserLatitude = -25;
           UserLongitude = 27;

           if (Location.lat != undefined) {
               UserLatitude = Location.lat;
               UserLongitude = Location.lng;
               ZoomLength = 12;
           }

           var map = new google.maps.Map(document.getElementById("map"), {
               center: new google.maps.LatLng(UserLatitude, UserLongitude),
               zoom: ZoomLength,
               mapTypeId: 'roadmap'
           });

           marker = new google.maps.Marker({ position: Location, map: map });

           var infoWindow = new google.maps.InfoWindow;

           geocoder = new google.maps.Geocoder();

           directionsDisplay = new google.maps.DirectionsRenderer();

            @foreach (var Item in Model.Marker) {
                <text>
                    var point = new google.maps.LatLng(
                        parseFloat(@Item.Latitude),
                        parseFloat(@Item.Longitude));

                    var html = "<b>" + '@Item.Name' + "</b> <br/>" + '@Item.Town' +
                                "<br>" + '@Item.Country' + "<br>" + '@Item.Address' +
                                "<br> <a href='#'>View Masjid</a>";

                    var icon = customIcons.Yes || {};

                    var marker = new google.maps.Marker({
                        map: map,
                        position: point,
                        icon: icon.icon
                    });

                    bindInfoWindow(marker, map, infoWindow, html);
                </text>
            }

           var contentString2 = "Pointer Masjid";

           var infowindow2 = new google.maps.InfoWindow({
               content: contentString2
           });

           var myLatlng2 = new google.maps.LatLng(-28.732617, 24.754);

           google.maps.event.addListener(map, 'click', function (event) {

               marker = new google.maps.Marker({ position: event.latLng, map: map });

               var lat = event.latLng.lat();
               var lng = event.latLng.lng();

               @*var R = 6371;

               var distances = [];

               @foreach(var Item in Model.Marker)
               {
                <text>
                   var mlat = @Item.Latitude;

                   var mlng = parseFloat(@Item.Longitude);

                   var dLat = rad(mlat - lat);

                   var dLong = rad(mlng - lng);

                   var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +

                       Math.cos(rad(lat)) * Math.cos(rad(lat)) * Math.sin(dLong / 2) * Math.sin(dLong / 2);

                   var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

                   var d = R * c;

                   distances[i] = d;

                   if (closest == -1 || d < distances[closest]) {
                       closest = i;

                   }
               </text>
               }

               var closestMusjid = (markers[closest].getAttribute("Name")) + ", " + (markers[closest].getAttribute("Town")) + ", " + (markers[closest].getAttribute("Country"))

               var closestID = (markers[closest].getAttribute("ID"));

               geocoder.geocode({ 'latLng': event.latLng }, function (results, status) {

                   var area = results[0].formatted_address;

                   document.getElementById('area').innerHTML = area;

               });

               //get perpetual times

               var str = (event.latLng);

               str = str + ''

               str = str.replace('(', '');

               str = str.replace(')', '');

               GPS = str.split(",");

               var todayd = new Date();

               var n = todayd.getTimezoneOffset();

               n = n / -60;

               prayTimes.setMethod('Karachi');

               prayTimes.adjust({ asr: 'Hanafi' });

               var date = new Date(); // today

               var times = prayTimes.getTimes(date, [GPS[0], GPS[1]], n);

               var list = ['Fajr', 'Sunrise', 'Dhuhr', 'Asr', 'Maghrib', 'Isha', 'Midnight'];

               prayTimes.adjust({ asr: 'Standard' });

               var date = new Date(); // today

               var times2 = prayTimes.getTimes(date, [GPS[0], GPS[1]], n);

               var list2 = ['Fajr', 'Sunrise', 'Dhuhr', 'Asr', 'Maghrib', 'Isha', 'Midnight'];

               var str = "View Times";

               var result = str.link("viewmasjid.php?ID=" + closestID);

               var html = '<table id="timetable">';

               html += '<tr><th colspan="2" class="timetable">' + date.toLocaleDateString() + '</th></tr>';

               html += '<tr><th colspan="2" class="timetable">Perpetual Salaah Times For Your Selected Location</th></tr>';

               html += '<tr><th style="text-align:center" colspan="2">_____________________________</th></tr>';

               html += '<tr><th class="timetable">Fajr</th><th> ' + times[list[0].toLowerCase()] + '</th></tr>';

               html += '<tr><th class="timetable">Sunrise</th><th> ' + times[list[1].toLowerCase()] + '</th></tr>';

               html += '<tr><th class="timetable">Dhuhr</th><th> ' + times[list[2].toLowerCase()] + '</th></tr>';

               html += '<tr><th class="timetable">Asr Shafi</th><th> ' + times2[list2[3].toLowerCase()] + '</th></tr>';

               html += '<tr><th class="timetable">Asr Hanafi</th><th> ' + times[list[3].toLowerCase()] + '</th></tr>';

               html += '<tr><th class="timetable">Maghrib</th><th> ' + times[list[4].toLowerCase()] + '</th></tr>';

               html += '<tr><th class="timetable">Isha</th><th> ' + times[list[5].toLowerCase()] + '</th></tr>';

               html += '<tr><th style="text-align:center" colspan="2">_____________________________</th></tr>';

               html += '<tr><th colspan="2" class="timetable">Nearest Masjid : ' + closestMusjid + '</th></tr>';

               html += '<tr><th colspan="2" class="timetable">' + result + '</th></tr>';

               html += '<tr><th style="text-align:center" colspan="2">_____________________________</th></tr>';

               html += '</table>';

               document.getElementById('ptimes').innerHTML = html;

               directionsDisplay.setMap(map);

               directionsDisplay.setPanel(document.getElementById("directionsPanel"));

               var pointb;

               pointb = '(';

               pointb += markers[closest].getAttribute("Latitude");

               pointb += ',';

               pointb += markers[closest].getAttribute("Longitude");

               pointb += ')';

               calcRoute(event.latLng, pointb);

               document.getElementById('Latitude').innerHTML = lat;

               document.getElementById('Longitude').innerHTML = lng;

               var todayz = new Date();

               var tzn = todayz.getTimezoneOffset();

               tzn = tzn / -60;

               var PerpetualLink = "<a href='report_perpetual_location.php?Lat=" + lat + "&Lng=" + lng + "&TZ=" + tzn + "'>View Perpetual Times</a>";

               document.getElementById("cperp").innerHTML = PerpetualLink;*@

               var Radius = document.getElementById('rangeInput').value;

               $("#Latitude").html(lat);
               $("#Longitude").html(lng);

               GetRadiusTimes(lat, lng, Radius, 'Click');
           });
       }
</script>

<script>
           function GetRadiusTimes(lat, lng, radius, type) {

           if (type == 'Init') { radius = 100; }
           var myLatlng2 = new google.maps.LatLng(-28.732617, 24.754);

           $('#nearestDetail').DataTable().destroy();

           $('#nearestDetail').DataTable({
                ajax: {
                    url: "@Url.Action("NearestMasjidsTable", "Home")",
                    data: { "Latitude": lat, "Longitude": lng, "Radius": radius},
                    suppressSuccess: true,
                    suppressLoading: true
                },
                deferRender: true,
                "ordering": false,
                responsive: true,
                dom: 'rtip',
                select: 'single',
                "columns": [
                    { "data": "Masjid" },
                    { "data": "Distance" },
                    { "data": "NextSalaah" },
                    { "data": "Countdown" },
                    { "data": "SalaahTime" },
                    { "data": "LadiesFacility" },
                ]
           });

           $('#nearestInfo').css('display', 'inline');
       }

       function checkTime(i) {
           return (i < 10) ? "0" + i : i;
       }

       function calcRoute(pointa, pointb) {
           var request = {
               origin: pointa,
               destination: pointb,
               travelMode: google.maps.TravelMode.DRIVING
           };

           directionsService.route(request, function (response, status) {
               if (status == google.maps.DirectionsStatus.OK) {
                   directionsDisplay.setDirections(response);
               }
           });
       }

       function rad(x) { return x * Math.PI / 180; }

       function bindInfoWindow(marker, map, infoWindow, html) {
           google.maps.event.addListener(marker, 'click', function () {
               infoWindow.setContent(html);
               infoWindow.open(map, marker);
           });
       }

       function doNothing() { }
</script>

<script type="text/javascript">

            function updateTextInput(val) {
                document.getElementById('textInput').innerHTML = val + "KM";
                GetRadiusTimes(document.getElementById('Latitude').innerHTML, document.getElementById('Longitude').innerHTML, val);
            }

            var Timer = 0;

            (function () {

                function checkTime(i) {

                    return (i < 10) ? "0" + i : i;

                }

                function startTime() {
                    Timer += 1;

                    if (Timer == 6) {

                        if (Location.lat != undefined) {

                            UserLatitude = Location.lat;

                            UserLongitude = Location.lng;

                            ZoomLength = 12;

                            var todayz = new Date();

                            var tzn = todayz.getTimezoneOffset();

                            tzn = tzn / -60;

                            document.getElementById("Latitude").innerHTML = UserLatitude;

                            document.getElementById("Longitude").innerHTML = UserLongitude;

                            var PerpetualLink = "<a href='report_perpetual_location.php?Lat=" + UserLatitude + "&Lng=" + UserLongitude + "&TZ=" + tzn + "'>View Perpetual Times</a>";

                            document.getElementById("cperp").innerHTML = PerpetualLink;

                            //GetRadiusTimes(UserLatitude, UserLongitude, 7, 'Init');

                        }

                    }

                    if (Timer == 120) {

                        location.reload();
                    }

                    var today = new Date(),

                        h = checkTime(today.getHours()),

                        m = checkTime(today.getMinutes()),

                        s = checkTime(today.getSeconds());

                    var n = today.getTimezoneOffset();

                    n = n / -60;

                    document.getElementById('currentdate').innerHTML = today.toDateString();

                    document.getElementById('currenttime').innerHTML = h + ":" + m + ":" + s;

                    document.getElementById('ctimezone').innerHTML = "Device Timezone: " + n;

                    t = setTimeout(function () { startTime() }, 500);

                }

                startTime();
            })();

</script>