@model MasjidInfoViewModel

@{
    ViewData["Title"] = "MasjidInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel-heading thumbnail"  style="background-color: #333">

            <div class="row">
                <center><h3>@Model.Name, @Model.Town, @Model.Country</h3></center>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div id="currenttime2" style="text-align:center; font-weight:bold; "></div>
                </div>

                <div class="col-md-4">
                    <center><h4><strong>@DateTime.Now.ToLongDateString()</strong></h4></center>

                    <center><h4><strong>
                        <div id="currenttime"></div>
                    </strong></h4></center>
                </div>

                <div class="col-md-4">
                    <h5>Last Updated: @Model.LastUpdate.ToString("yyyy-MM-dd hh:mm")</h5>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4>PERPETUAL TIMES</h4>

                <table class="table table-condensed" style="color: #f2f2f2; border-top: none; border:none">
                    <tr><td>SEHRI ENDS</td><td><img src="icons/Suhoor.jpg" width="50px"></td><td>@Model.PerpetualTime.SehriEnds.ToString("HH:mm")</td></tr>
                    <tr><td>FAJR</td><td><img src="icons/Fajr.jpg" width="50px"></td><td>@Model.PerpetualTime.Fajr.ToString("HH:mm")</td></tr>
                    <tr><td>SUNRISE</td><td><img src="icons/Sunrise.jpg" width="50px"></td><td>@Model.PerpetualTime.Sunrise.ToString("HH:mm")</td></tr>
                    <tr><td>ISHRAAQ</td><td><img src="icons/Ishraaq.jpg" width="50px"></td><td>@Model.PerpetualTime.Ishraaq.ToString("HH:mm")</td></tr>
                    <tr><td>ZAWAAL</td><td><img src="icons/Dhuhr.jpg" width="50px"></td><td>@Model.PerpetualTime.Zawaal.ToString("HH:mm")</td></tr>
                    <tr><td>DHUHR</td><td><img src="icons/Dhuhr.jpg" width="50px"></td><td>@Model.PerpetualTime.Dhuhr.ToString("HH:mm")</td></tr>
                    
                    <tr><td>ASR SHAFI</td><td><img src="icons/Asar1.jpg" width="50px"></td><td>@Model.PerpetualTime.AsrShafi.ToString("HH:mm")</td></tr>
                    <tr><td>ASR HANAFI</td><td><img src="icons/Asar2.jpg" width="50px"></td><td>@Model.PerpetualTime.AsrHanafi.ToString("HH:mm")</td></tr>
                    <tr><td>SUNSET</td><td><img src="icons/Sunset.jpg" width="50px"></td><td>@Model.PerpetualTime.Sunset.ToString("HH:mm")</td></tr>
                    <tr><td>ISHA</td><td><img src="icons/Isha.jpg" width="50px"></td><td>@Model.PerpetualTime.Isha.ToString("HH:mm")</td></tr>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4 style="text-align:center">SALAAH TIMES</h4>
                <br />

                <table class="table table-condensed" style="color:#f2f2f2" 
                       @*style="background-color: White; border-color: rgb(204, 204, 204); border-width: 1px; border-style: none; border-collapse: collapse; color: Black; "*@
                       >
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th style="text-align:left;">ADHAAN</th>
                        <th style="text-align:left;">SALAAH</th>
                    </tr>
                    <tr><td>FAJR</td><td><img src="icons/Fajr.jpg" width="50px"></td><td>@Model.SalaahTime.FajrAdhaan.ToString("HH:mm")</td><td>@Model.SalaahTime.FajrSalaah.ToString("HH:mm")</td></tr>
                    <tr>
                        <td>
                            DHUHR
                        </td>
                        <td><img src="icons/Dhuhr.jpg" width="50px"></td>
                        <td>@Model.SalaahTime.DhuhrAdhaan.ToString("HH:mm")</td>
                        <td>@Model.SalaahTime.DhuhrSalaah.ToString("HH:mm")</td>
                    </tr>
                    <tr><td>ASR</td><td><img src="icons/Asar2.jpg" width="50px"></td><td>@Model.SalaahTime.AsrAdhaan.ToString("HH:mm")</td><td>@Model.SalaahTime.AsrSalaah.ToString("HH:mm")</td></tr>
                    <tr><td>MAGHRIB</td><td><img src="icons/Sunset.jpg" width="50px"></td><td colspan="2">@Model.PerpetualTime.Maghrib.ToString("HH:mm")</td></tr>
                    <tr><td>ISHA</td><td><img src="icons/Isha.jpg" width="50px"></td><td>@Model.SalaahTime.IshaAdhaan.ToString("HH:mm")</td><td>@Model.SalaahTime.IshaSalaah.ToString("HH:mm")</td></tr>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-5">
        <div class="thumbnail">
            <div class="caption">
                <h4>GEOGRAPHY</h4>
                <br />

                <table class="table table-condensed" style="color:#f2f2f2">
                    <tr>
                        <td style="text-align:left">NAME</td>
                        <td>@Model.Name</td>
                    </tr>

                    <tr>
                        <td style="text-align:left">TOWN</td>
                        <td>@Model.Town</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">COUNTRY</td>
                        <td>@Model.Country</td>
                        <td></td>
                    </tr>
                    <tr> <td style="text-align:left">QIBLA DISTANCE</td><td>@Model.QiblaDistance KM - @Model.QDNautical Nautical miles - @Model.QDStatute Statute miles</td></tr>
                    <tr><td style="text-align:left">QIBLA BEARING FROM TRUE NORTH</td><td>@Model.QiblaBearing Degrees</td></tr>
                    <tr><td style="text-align:left">LATITUDE</td><td>@Model.Latitude</td></tr>
                    <tr><td style="text-align:left">LONGITUTE</td><td>@Model.Longitude</td></tr>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5">
        <div class="thumbnail">
            <div class="caption">
                <h4>INFORMATION</h4>
                <br />

                <table class="table table-condensed" style="color:#f2f2f2">
                    <tr>
                        <td style="text-align:left"><a href="report_perpetual.php?ID=1">View Perpetual Calendar</a></td>
                        <td><a href="report_salaah.php?ID=1">View Salaah Calendar</a></td>
                    </tr>

                    <tr>
                        <td style="text-align:left">JURISTIC METHOD</td>
                        <td>
                        @if (Model.JuristicM == JuristicMethod.UniversityOfIslamicSciences)
                        {
                            <text>University of Islamic Sciences, Karachi </text>

                        }
                            
                        </td>
                    </tr>


                    <tr><td style="text-align:left">LADIES FACILITY</td><td>@Model.LadiesFacility</td></tr>
                    <tr><td style="text-align:left">JUMMAH FACILITY</td><td>@Model.JummahFacility</td></tr>
                    <tr><td style="text-align:left">CONTACT</td><td>@Model.Contact</td></tr>
                    <tr><td style="text-align:left">PHYSICAL ADDRESS</td><td>@Model.Address</td></tr>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="map">
            <h4 style="color:#88E0AC; "> MAP </h4>
            <h6>Select your location on the map to receive directions</h6>
            <div id="map" align="center"></div>
            <div class="timetable " id="ptimes"></div>
            <div id="directionsPanel" class="Font12BrownTahoma"></div>
        </div>
    </div>
</div>

<script>
        (function () {
            function checkTime(i) {
                return (i < 10) ? "0" + i : i;
            }

            function startTime() {
                var today = new Date(),
                    h = checkTime(today.getHours()),
                    m = checkTime(today.getMinutes()),
                    s = checkTime(today.getSeconds());
                var n = today.getTimezoneOffset();
                n = n / -60;
                document.getElementById('currenttime').innerHTML = h + ":" + m + ":" + s;
                document.getElementById('currenttime2').innerHTML = "Time Zone - Masjid: @Model.TimeZone.ToString() Device: " + n;
                t = setTimeout(function () {
                    startTime()
                }, 500);
            }
            startTime();
        })();
</script>