@model MasjidInfoViewModel

@{
    ViewData["Title"] = Model.Masjid.Name + ", " + Model.Masjid.Town + ", " + Model.Masjid.Country;
    Layout = "~/Views/Shared/_Layout.cshtml";

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="Masjid: @Model.Masjid.Name - @Model.Masjid.Town - @Model.Masjid.Country - Salaah Times - Perpetual Times - Salaah Calendar - Perpetual Calendar - Adhaan - Salaah - Masjid - Map - Fajr - Dhuhr - Asr - Maghrib - Isha" />

    <style>
        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #272626;
        }

        .adp-text {
            color: black;
        }

        .adp, .adp table {
            font-family: Roboto,Arial,sans-serif;
            font-weight: 300;
            color: #FFF;
        }

        .gm-style .gm-style-iw {
            background-color: #383838 !important;
            color: #000;
            /*top: 0 !important;
            left: 0 !important;
            width: 100% !important;
            height: 100% !important;
            min-height: 120px !important;
            padding: 10px;
            display: block !important;*/
        }

        .pagination > li > a, .pagination > li > span {
            background-color: #383838;
        }

        .pagination > li.active > a, .pagination > li.active > span {
            background-color: #1FA154;
        }
    </style>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel-heading thumbnail" style="background-color: #333">

            <div class="row">
                <center><h3>@Model.Masjid.Name - @Model.Masjid.Town - @Model.Masjid.Country</h3></center>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div id="currenttime2" style="text-align:center; font-weight:bold; "></div>
                </div>

                <div class="col-md-4">
                    <center><h4><strong>@DateTime.Now.ToLongDateString()</strong></h4></center>

                    <center>
                        <h4>
                            <strong>
                                <div id="currenttime"></div>
                            </strong>
                        </h4>
                    </center>
                </div>

                <div class="col-md-4">
                    @if (Model.Masjid.LastUpdate.Year >= 2017)
                    {
                        <h5>Last Updated: @Model.Masjid.LastUpdate.ToString("yyyy-MM-dd hh:mm")</h5>
                    }
                    else
                    {
                        <h5>Last Updated: Yet to be updated</h5>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4>PERPETUAL TIMES</h4>

                <table class="table table-condensed table-striped" style="color: #f2f2f2; border-top: none; border:none">
                    <tr><td>SEHRI ENDS</td><td><img src="~/icons/Suhoor.png" width="50px"></td><td>@Model.PerpetualTime.SehriEnds.ToString("HH:mm")</td></tr>
                    <tr><td>FAJR</td><td><img src="~/icons/Fajr.png" width="50px"></td><td>@Model.PerpetualTime.Fajr.ToString("HH:mm")</td></tr>
                    <tr><td>SUNRISE</td><td><img src="~/icons/Sunrise.png" width="50px"></td><td>@Model.PerpetualTime.Sunrise.ToString("HH:mm")</td></tr>
                    <tr><td>ISHRAAQ</td><td><img src="~/icons/Ishraaq.png" width="50px"></td><td>@Model.PerpetualTime.Ishraaq.ToString("HH:mm")</td></tr>
                    <tr><td>ZAWAAL</td><td><img src="~/icons/Dhuhr.png" width="50px"></td><td>@Model.PerpetualTime.Zawaal.ToString("HH:mm")</td></tr>
                    <tr><td>DHUHR</td><td><img src="~/icons/Dhuhr.png" width="50px"></td><td>@Model.PerpetualTime.Dhuhr.ToString("HH:mm")</td></tr>

                    <tr><td>ASR SHAFI</td><td><img src="~/icons/Asar1.png" width="50px"></td><td>@Model.PerpetualTime.AsrShafi.ToString("HH:mm")</td></tr>
                    <tr><td>ASR HANAFI</td><td><img src="~/icons/Asar2.png" width="50px"></td><td>@Model.PerpetualTime.AsrHanafi.ToString("HH:mm")</td></tr>
                    <tr><td>SUNSET</td><td><img src="~/icons/Sunset.png" width="50px"></td><td>@Model.PerpetualTime.Sunset.ToString("HH:mm")</td></tr>
                    <tr><td>ISHA</td><td><img src="~/icons/Isha.png" width="50px"></td><td>@Model.PerpetualTime.Isha.ToString("HH:mm")</td></tr>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4 style="text-align:center">SALAAH TIMES</h4>
                <br />

                <table class="table table-condensed table-striped" style="color:#f2f2f2">
                    <tr>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th style="text-align:left;">ADHAAN</th>
                        <th style="text-align:left;">SALAAH</th>
                    </tr>

                    @if (Model.SalaahTime != null)
                    {
                        <tr>
                            <td>FAJR</td>
                            <td><img src="~/icons/Fajr.png" width="50px"></td>
                            <td>@Model.SalaahTime.FajrAdhaan.ToString("HH:mm")</td>
                            <td>@Model.SalaahTime.FajrSalaah.ToString("HH:mm")</td>
                        </tr>

                        @if (Model.Masjid.JummahFacility && DateTime.Now.DayOfWeek == DayOfWeek.Friday)
                        {
                            <tr>
                                <td>JUMU'AH</td>
                                <td><img src="~/icons/Dhuhr.png" width="50px"></td>
                                <td>@Model.SalaahTime.JumuahAdhaan.ToString("HH:mm")</td>
                                <td>@Model.SalaahTime.JumuahSalaah.ToString("HH:mm")</td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>DHUHR</td>
                                <td><img src="~/icons/Dhuhr.png" width="50px"></td>
                                <td>@Model.SalaahTime.DhuhrAdhaan.ToString("HH:mm")</td>
                                <td>@Model.SalaahTime.DhuhrSalaah.ToString("HH:mm")</td>
                            </tr>
                        }

                        <tr>
                            <td>ASR</td>
                            <td><img src="~/icons/Asar2.png" width="50px"></td>
                            <td>@Model.SalaahTime.AsrAdhaan.ToString("HH:mm")</td>
                            <td>@Model.SalaahTime.AsrSalaah.ToString("HH:mm")</td>
                        </tr>
                    }

                    <tr>
                        <td>MAGHRIB</td>
                        <td><img src="~/icons/Sunset.png" width="50px"></td>
                        <td colspan="2">@Model.PerpetualTime.Maghrib.ToString("HH:mm")</td>
                    </tr>

                    @if (Model.SalaahTime != null)
                    {
                        <tr>
                            <td>ISHA</td>
                            <td><img src="~/icons/Isha.png" width="50px"></td>
                            <td>@Model.SalaahTime.IshaAdhaan.ToString("HH:mm")</td>
                            <td>@Model.SalaahTime.IshaSalaah.ToString("HH:mm")</td>
                        </tr>
                    }
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4 style="text-align:center">NOTICES</h4>
                @if (Model.Notices.Any())
                {
                    @foreach (var Notice in Model.Notices)
                    {
                        @*@Html.Raw(Notice.NoticeContent)*@
                        <p style="color:white;">@Notice.NoticeContent</p>
                    }
                }
                else
                {
                    <p>No notices to display</p>

                }

                @if (Model.NextSalaahTime != null)
                {
                    <br />
                    <h4 style="text-align:center">Salaah Time Change</h4>

                    <h5>Effective From:</h5>
                    <h6>@Model.NextPerpetualTime.Date.ToString("dddd dd MMMM yyyy")</h6>

                    <table class="table table-condensed table-striped" style="color:#f2f2f2">
                        <tr>
                            <th>&nbsp;</th>
                            <th style="text-align:left;">ADHAAN</th>
                            <th style="text-align:left;">SALAAH</th>
                        </tr>

                        <tr>
                            <td>FAJR</td>
                            <td>@Model.NextSalaahTime.FajrAdhaan.ToString("HH:mm")</td>
                            <td>@Model.NextSalaahTime.FajrSalaah.ToString("HH:mm")</td>
                        </tr>

                        <tr>
                            <td>DHUHR</td>
                            <td>@Model.NextSalaahTime.DhuhrAdhaan.ToString("HH:mm")</td>
                            <td>@Model.NextSalaahTime.DhuhrSalaah.ToString("HH:mm")</td>
                        </tr>

                        <tr>
                            <td>ASR</td>
                            <td>@Model.NextSalaahTime.AsrAdhaan.ToString("HH:mm")</td>
                            <td>@Model.NextSalaahTime.AsrSalaah.ToString("HH:mm")</td>
                        </tr>

                        <tr>
                            <td>MAGHRIB</td>
                            <td colspan="2">@Model.NextPerpetualTime.Maghrib.ToString("HH:mm")</td>
                        </tr>

                        <tr>
                            <td>ISHA</td>
                            <td>@Model.NextSalaahTime.IshaAdhaan.ToString("HH:mm")</td>
                            <td>@Model.NextSalaahTime.IshaSalaah.ToString("HH:mm")</td>
                        </tr>

                    </table>
                }
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4>GEOGRAPHY</h4>
                <br />

                <table class="table table-condensed table-striped" style="color:#f2f2f2">
                    <tr>
                        <td style="text-align:left">NAME</td>
                        <td>@Model.Masjid.Name</td>
                    </tr>

                    <tr>
                        <td style="text-align:left">TOWN</td>
                        <td>@Model.Masjid.Town</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="text-align:left">COUNTRY</td>
                        <td>@Model.Masjid.Country</td>
                        <td></td>
                    </tr>
                    <tr> <td style="text-align:left">QIBLA DISTANCE</td><td>@Model.QiblaDistance KM - @Model.QDNautical Nautical miles - @Model.QDStatute Statute miles</td></tr>
                    <tr><td style="text-align:left">QIBLA BEARING FROM TRUE NORTH</td><td>@Model.QiblaBearing Degrees</td></tr>
                    <tr><td style="text-align:left">LATITUDE</td><td>@Model.Masjid.Latitude</td></tr>
                    <tr><td style="text-align:left">LONGITUTE</td><td>@Model.Masjid.Longitude</td></tr>
                    <tr><td style="text-align:left">TIMEZONE</td><td>@Model.Masjid.TimeZone.StandardName - @Model.Masjid.TimeZone.DisplayName</td></tr>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4>INFORMATION</h4>
                <br />

                <table class="table table-condensed  table-striped" style="color:#f2f2f2">
                    <tr>
                        <td style="text-align:left"><a style="color: #ff6a00;" href="@Url.Action("PerpetualCalendar", "Home", new { Id = Model.Masjid.Id })">Perpetual Calendar</a></td>

                        @if (Model.SalaahTime != null)
                        {
                            <td><a style="color: #ff6a00;" href="@Url.Action("SalaahCalendar", "Home", new { Id = Model.Masjid.Id })">Salaah Calendar</a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                    </tr>

                    <tr>
                        <td style="text-align:left">JURISTIC METHOD</td>
                        <td>
                            @if (Model.Masjid.JuristMethod == JuristicMethod.UniversityOfIslamicSciencesKarachi)
                            {
                                <text>University of Islamic Sciences, Karachi</text>
                            }
                            else if (Model.Masjid.JuristMethod == JuristicMethod.EgyptianGeneralAuthorityOfSurvey)
                            {
                                <text>Egyptian General Authority of Survey</text>
                            }
                            else if (Model.Masjid.JuristMethod == JuristicMethod.IslamicSocietyOfNorthAmerica)
                            {
                                <text>Islamic Society of North America (ISNA)</text>
                            }
                            else if (Model.Masjid.JuristMethod == JuristicMethod.MuslimWorldLeague)
                            {
                                <text>Muslim World League</text>
                            }
                            else if (Model.Masjid.JuristMethod == JuristicMethod.UmmAlQuraUniversityMakkah)
                            {
                                <text>Umm al-Qura University, Makkah</text>
                            }

                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:left">LADIES FACILITY</td>
                        <td>
                            @if (Model.Masjid.LadiesFacility)
            {<text>Yes</text>}
            else
            {<text>No</text> }
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:left">JUMMAH FACILITY</td>
                        <td>
                            @if (Model.Masjid.JummahFacility)
            {<text> Yes </text>}
            else
            {<text>No</text> }
                        </td>
                    </tr>
                    <tr><td style="text-align:left">CONTACT</td><td>@Model.Masjid.Contact</td></tr>
                    <tr><td style="text-align:left">PHYSICAL ADDRESS</td><td>@Model.Masjid.Address</td></tr>
                    <tr><td style="text-align:left">GENERAL INFORMATION</td><td>@Model.Masjid.GeneralInfo</td></tr>
                </table>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <div class="caption">
                <h4>MASJID ADMINS</h4>
                <br />

                <table class="table table-condensed  table-striped" style="color:#f2f2f2">
                    @if (Model.Users.Count > 0)
                    {
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Registration Date</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                    }

                    @foreach (var User in Model.Users)
                    {
                        <tr>
                            <td>@User.FullName</td>
                            <td>@User.CreatedAt.ToString("dd/MM/yyyy")</td>

                            @if(User.ShowDetails)
                            {
                                <td>@User.Email</td>
                            }
                            else
                            {
                                <td>N/A</td>
                            }

                        </tr>
                    }

                    @if (Model.Masjid.AllowRegistration)
                    {
                        <tr>
                            <td style="text-align:left" colspan="3">
                                <a style="color: #ff6a00;" href="@Url.Action("Register", "Account", new { MasjidId = Model.Masjid.Id })">
                                    Register as the Masjid's Administrator
                                </a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="mapC" class="col-md-12">
        <div class="map">
            <h4 style="color:#88E0AC; "> MAP </h4>
            <h6>Select your location on the map to receive directions</h6>

            <div id="map" align="center" style="height: 600px; width:100%"></div>
        </div>
    </div>

    <div id="dirC" class="col-md-5" style="display: none;">
        <h4 style="color:#88E0AC; "> DIRECTIONS</h4>

        <div class="thumbnail">
            <div class="caption">
                <div id="directionsPanel"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUs6gpwmJ8WRZXjIPQH-wyPEu_P2hdHo0&sensor=false"></script>

<script>
    $(document).ready(function () {
        $("#home_nav").removeClass("active");
        load();
    });

        (function () {
            function checkTime(i) {
                return (i < 10) ? "0" + i : i;
            }

            function startTime() {
                var today = new Date(),
                    h = checkTime(today.getHours()),
                    m = checkTime(today.getMinutes()),
                    s = checkTime(today.getSeconds());
                var n = today.getTimezoneOffset();
                n = n / -60;
                document.getElementById('currenttime').innerHTML = h + ":" + m + ":" + s;
                document.getElementById('currenttime2').innerHTML = "Time Zone - Masjid: @Model.Masjid.TimeZoneDiff.ToString() Device: " + n;
                t = setTimeout(function () {
                    startTime()
                }, 500);
            }
            startTime();
        })();
</script>

<script type="text/javascript">

       var directionsDisplay;
       var directionsService = new google.maps.DirectionsService();
       var map;
       var markers;

       var customIcons = {
           Yes: {
               icon: 'http://labs.google.com/ridefinder/images/mm_20_blue.png'
           },
           No: {
               icon: 'http://labs.google.com/ridefinder/images/mm_20_red.png'
           }
       };

       function load() {
           var UserLatitude = @Model.Masjid.Latitude;
           var UserLongitude = @Model.Masjid.Longitude;
           var ZoomLength = 15;

           var map = new google.maps.Map(document.getElementById("map"), {
               center: new google.maps.LatLng(UserLatitude, UserLongitude),
               zoom: ZoomLength,
               mapTypeId: 'roadmap'
           });

            var masjidPoint = new google.maps.LatLng(
                    parseFloat(@Model.Masjid.Latitude),
                    parseFloat(@Model.Masjid.Longitude));

            var micon = customIcons.No || {};

            var marker = new google.maps.Marker({
                map: map,
                position: masjidPoint,
                icon: micon.icon
            });

           var infoWindow = new google.maps.InfoWindow;

           geocoder = new google.maps.Geocoder();

           directionsDisplay = new google.maps.DirectionsRenderer();

            @foreach (var Item in Model.Markers.Marker)
            {
                if (Item.Id == Model.Masjid.Id)
                {
                    continue;
                }


                <text>
                var point = new google.maps.LatLng(
                        parseFloat(@Item.Latitude),
                        parseFloat(@Item.Longitude));

                var html = "<table class='table' style='background-color: #383838; color: #fff; border-top: none; border:none'>" +
                        "<tr><td>" + '@Item.Name' + "</td></tr>" +
                        "<tr><td>" + '@Item.Town' + "</td></tr>" +
                        "<tr><td>" + '@Item.Country' + "</td></tr>" +
                        "<tr><td>" + '@Item.Address' + "</td></tr>" +
                        "<tr><td><a href='/Home/MasjidInfo/@Item.Id' style='color: #ff6a00;'>View Masjid</a></td></tr>" +
                        "</table>";

                var icon = customIcons.Yes || {};

                var marker = new google.maps.Marker({
                        map: map,
                        position: point,
                        icon: icon.icon
                    });

            bindInfoWindow(marker, map, infoWindow, html);
                </text>
            }

           google.maps.event.addListener(map, 'click', function (event) {
               marker = new google.maps.Marker({ position: event.latLng, map: map });
               var lat = event.latLng.lat();
               var lng = event.latLng.lng();

               directionsDisplay.setMap(map);

               directionsDisplay.setPanel(document.getElementById("directionsPanel"));

               calcRoute(event.latLng, masjidPoint);

               $("#mapC").removeClass("col-md-12");
               $("#mapC").addClass("col-md-7");

               $('#dirC').css('display', 'inline');
           });
       }

    function calcRoute(pointa, pointb) {
           var request = {
               origin: pointa,
               destination: pointb,
               travelMode: google.maps.TravelMode.DRIVING
           };

           directionsService.route(request, function (response, status) {
               if (status == google.maps.DirectionsStatus.OK) {
                   directionsDisplay.setDirections(response);
               }
           });
       }

       function rad(x) { return x * Math.PI / 180; }

       function bindInfoWindow(marker, map, infoWindow, html) {
           google.maps.event.addListener(marker, 'click', function () {
               infoWindow.setContent(html);
               infoWindow.open(map, marker);
           });
       }

       function doNothing() { }
</script>
