@model cPerpCalendar

@{
    ViewData["Title"] = "Perpetual Times Calendar " + @Model.Masjid.Name + " - " + @Model.Masjid.Town + " - " + @Model.Masjid.Country;

    Layout = null;

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>
}

<h1>Perpetual Times Calendar</h1>
<h2>For The Year @DateTime.Now.Year.ToString()</h2>
<h3>@Model.Masjid.Name - @Model.Masjid.Town - @Model.Masjid.Country</h3>

<div class="row">
    <div class="col-md-9">
        <div class="thumbnail">
            <div class="caption">
                <table class="table table-striped">

                    <thead class='thead'>
                        <tr>
                            <th colspan="12" style="font-size:larger; color: #1FA154; font-weight:bold; text-align:center">January</th>
                        </tr>

                        <tr style="color: #1FA154;">
                            <th>Date</th>
                            <th>Sehri-Ends</th>
                            <th>Fajr</th>
                            <th>Sunrise</th>
                            <th>Ishraaq</th>
                            <th>Zawaal</th>
                            <th>Dhuhr</th>
                            <th>Asar-Shaafi</th>
                            <th>Asar-Hanafi</th>
                            <th>Sunset</th>
                            <th>Maghrib</th>
                            <th>Isha</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var Month in Model.Months)
                        {
                            @if (Month.Month != 1)
                            {
                                <tr>
                                    <th colspan="12" style="font-size:larger; color: #1FA154; font-weight:bold; text-align:center">@Month.ToString("MMMM")</th>
                                </tr>

                                <tr style="color: #1FA154;">
                                    <th>Date</th>
                                    <th>Sehri-Ends</th>
                                    <th>Fajr</th>
                                    <th>Sunrise</th>
                                    <th>Ishraaq</th>
                                    <th>Zawaal</th>
                                    <th>Dhuhr</th>
                                    <th>Asar-Shaafi</th>
                                    <th>Asar-Hanafi</th>
                                    <th>Sunset</th>
                                    <th>Maghrib</th>
                                    <th>Isha</th>
                                </tr>
                            }

                            @foreach (var Item in Model.Times
                                                    .Where(s => s.Date.Month == Month.Month)
                                                    .OrderBy(s => s.Date.DayOfYear)
                                                    .ToList())
                            {
                                <tr>
                                    <td>@Item.Date.ToString("dd")</td>
                                    <td>@Item.SehriEnds.ToString("HH:mm")</td>
                                    <td>@Item.Fajr.ToString("HH:mm")</td>
                                    <td>@Item.Sunrise.ToString("HH:mm")</td>
                                    <td>@Item.Ishraaq.ToString("HH:mm")</td>
                                    <td>@Item.Zawaal.ToString("HH:mm")</td>
                                    <td>@Item.Dhuhr.ToString("HH:mm")</td>
                                    <td>@Item.AsrShafi.ToString("HH:mm")</td>
                                    <td>@Item.AsrHanafi.ToString("HH:mm")</td>
                                    <td>@Item.Sunset.ToString("HH:mm")</td>
                                    <td>@Item.Maghrib.ToString("HH:mm")</td>
                                    <td>@Item.Isha.ToString("HH:mm")</td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>