@model cPerpCalendar

@{
    ViewData["Title"] = "PerpetualCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";

    <style>
        .table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #272626;
        }
    </style>
}

<center>
    <h1>Perpetual Times Calendar</h1>
    <h2>For The Year 2017</h2>
    <h3>Masjid Muaadh bin Jabal Crosby</h3>
</center>

<center><a href="#" class="export">Export to CSV</a></center>

<div class="row">
    <div class="col-md-12">
        <div class="thumbnail">
            <div class="caption">
                <table class="table table-striped" id="perp" style="color: #fff">

                    <thead class='thead'>
                        <tr style="color: #00ff34;">
                            <th>Date</th>
                            <th>Sehri-Ends</th>
                            <th>Fajr</th>
                            <th>Sunrise</th>
                            <th>Ishraaq</th>
                            <th>Zawaal</th>
                            <th>Dhuhr</th>
                            <th>Asar-Shaafi</th>
                            <th>Asar-Hanafi</th>
                            <th>Sunset</th>
                            <th>Maghrib</th>
                            <th>Isha</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var Month in Model.Months)
                        {
                            @if (Month.Month != 1)
                            {
                                <tr style="color: #00ff34;">
                                    <th>Date</th>
                                    <th>Sehri-Ends</th>
                                    <th>Fajr</th>
                                    <th>Sunrise</th>
                                    <th>Ishraaq</th>
                                    <th>Zawaal</th>
                                    <th>Dhuhr</th>
                                    <th>Asar-Shaafi</th>
                                    <th>Asar-Hanafi</th>
                                    <th>Sunset</th>
                                    <th>Maghrib</th>
                                    <th>Isha</th>
                                </tr>
                            }

                            @foreach (var Item in Model.Times
                                                    .Where(s => s.Date.Month == Month.Month)
                                                    .OrderBy(s => s.Date.DayOfYear)
                                                    .ToList())
                            {
                                <tr>
                                    <td>@Item.Date.ToString("d  MMMM")</td>
                                    <td>@Item.SehriEnds.ToString("hh:mm")</td>
                                    <td>@Item.Fajr.ToString("hh:mm")</td>
                                    <td>@Item.Sunrise.ToString("hh:mm")</td>
                                    <td>@Item.Ishraaq.ToString("hh:mm")</td>
                                    <td>@Item.Zawaal.ToString("hh:mm")</td>
                                    <td>@Item.Dhuhr.ToString("hh:mm")</td>
                                    <td>@Item.AsrShafi.ToString("hh:mm")</td>
                                    <td>@Item.AsrHanafi.ToString("hh:mm")</td>
                                    <td>@Item.Sunset.ToString("hh:mm")</td>
                                    <td>@Item.Maghrib.ToString("hh:mm")</td>
                                    <td>@Item.Isha.ToString("hh:mm")</td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#home_nav").removeClass("active");

        var table = $('#perp').DataTable({
            responsive: false,
            "bLengthChange": false,
            "Filter": false,
            "Info": false,
            "paging": false,
            "dom": '',
            "ordering": false,
            "columns": [
                { "data": "a1" },
                { "data": "a2" },
                { "data": "a3" },
                { "data": "a4" },
                { "data": "a5" },
                { "data": "a6" },
                { "data": "b1" },
                { "data": "b2" },
                { "data": "b3" },
                { "data": "b4" },
                { "data": "b5" },
                { "data": "b6" },
            ],
            "columnDefs": [{
                "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], // column or columns numbers
                "orderable": false,  // set orderable for selected columns
            }]
        });
    });
</script>