<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Taqweem Masjid Management</title>

    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/skin-blue.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/icons/taqweem_small.png">

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link href="~/lib/datatables/datatables.css" rel="stylesheet" />
    <script src="~/lib/datatables/datatables.js"></script>

    <link href="~/lib/jquery-timepicker/jquery.timepicker.min.css" rel="stylesheet" />
    <script src="~/lib/jquery-timepicker/jquery.timepicker.min.js"></script>

    <style>
        * {
            font-family: Verdana;
        }
    </style>

</head>

<body>
    <nav id="topnav" class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#top-section">TAQWEEM MANAGEMENT</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Manage")">Profile</a></li>
                    <li><a href="@Url.Action("ChangePassword", "Manage")">Password</a></li>
                    @*<li><a href="@Url.Action("TwoFactorAuthentication", "Manage")">Two-factor authentication</a></li>*@
                    <li><a href="@Url.Action("Masjid", "Manage")">Masjid</a></li>
                    <li><a href="@Url.Action("SalaahTimes", "Manage")">Salaah Times</a></li>
                    <li><a href="@Url.Action("Notices", "Manage")">Notices</a></li>
                    <li><a href="@Url.Action("Index", "Administration")">Admin</a></li>
                    <li><a href="@Url.Action("Login", "Account")">Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>

    <div class="body-content">

        <section id="Section-2" class="fullbg color-white">

            <div class="container">

                <br /><br /><br />

                @RenderBody()
            </div>

        </section>

        <footer id="foot-sec">
            <div class="footerdivide">
            </div>
            <div class="container ">
                <div class="row">
                    <div class="text-center color-white col-sm-12 col-lg-12">
                        <p>
                            All Rights reserved. <br />
                            © Taqweem @DateTime.Now.Year.ToString()
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>

<div id="file_upload_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Uploading Salaah Times</h4>
            </div>
            <div class="modal-body">
                <h5 id="file_upload_modal_h5">Please wait while your file is uploaded and processed</h5>
            </div>
            <div class="modal-footer">
                <button id="file_upload_modal_closebutton" onclick="refreshPage()" data-dismiss="modal" class="btn btn-success pull-right" style="display: none;">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="delete_all_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Salaah Times</h4>
            </div>
            <div class="modal-body">
                <h5>Please confirm that you would like to Delete all Salaah Times for your masjid</h5>

                <h5>Please note that this action cannot be undone</h5>
            </div>
            <div class="modal-footer">
                <button onclick="deleteAll()" class="btn btn-danger pull-left">Confirm</button>
                <button data-dismiss="modal" class="btn btn-success pull-right">Cancel</button>
            </div>
        </div>

    </div>
</div>

<div id="delete_all_successful_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Successful</h4>
            </div>
            <div class="modal-body">
                <h5>The requested Salaah Times for your masjid have successfully been deleted</h5>
            </div>
            <div class="modal-footer">
                <button onclick="refreshPage()" class="btn btn-success pull-left">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="delete_all_failed_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Unsuccessful</h4>
            </div>
            <div class="modal-body">
                <h5>Unfortunately your request could not be processed successfully, please try again later. If the problem persists please contact the system administrator</h5>
            </div>
            <div class="modal-footer">
                <button onclick="refreshPage()" class="btn btn-success pull-left">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="modal_add_notice" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Notice</h4>
            </div>
            <div class="modal-body">
                <form id="frmAddNotice">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label">Notice Message:</label>
                                <input id="NoticeContent" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick="addNotice()" class="btn btn-success pull-left">Submit</button>
                <button data-dismiss="modal" class="btn btn-danger pull-right">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/bootstrap-dialog.js"></script>

<script src="https://use.fontawesome.com/c0a9eeb4a5.js"></script>

<script>
    function refreshPage() {
        location.reload();
    }

    function addNotice() {
        $.ajax({
            type: 'post',
            url: '@Url.Action("AddNotice", "Manage")',
            data: { "Content": $('#NoticeContent').val()},
            success: function (data) {
                if (data == "Successful") {
                    location.reload();
                }
            }
        });
    }
</script>