@model NoticesViewModel

@{
    ViewData["Title"] = "Notices";
    Layout = "~/Views/Manage/_Layout.cshtml";

    <style>
        #maintable {
            background-color: #272626;
        }

        .pagination > li > a, .pagination > li > span {
            background-color: #383838;
        }

        .pagination > li.active > a, .pagination > li.active > span {
            background-color: #1FA154;
        }

        /*.table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #383838;
        }

        table tr:nth-child(odd) td {
            background-color: #383838;
        }*/

        table.dataTable tbody tr.selected {
            background-color: #1FA154;
        }
    </style>
}

<h2>SalaahTimes</h2>

<br /><br />

<div class="row">
    <div class="col-md-12">

        <a href="#modal_add_notice" data-toggle="modal"><h4>Add Notice</h4></a>

        @if (Model.Notices.Count >= 1)
        {
            <div class="collapse navbar-collapse in">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="btnHide" class="btn m-r-5"><i style="color:white" class="fa fa-minus-circle"></i><span style="color:white; padding-left:10px">Hide</span></a></li>
                    <li><a id="btnDelete" class="btn m-r-5"><i style="color:white" class="fa fa-trash"></i><span style="color:white; padding-left:10px">Delete</span></a></li>
                </ul>
            </div>

            <table id="maintable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Notice Text</th>
                        <th>Created By</th>
                        <th>Created On</th>
                        <th>Hidden</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Item in Model.Notices)
                    {
                        <tr>
                            <td>@Item.Id</td>
                            <td>@Item.NoticeContent</td>
                            <td>@Item.Created.FullName</td>
                            <td>@Item.CreatedAt.ToString("dd/MM/yyyy hh:mm")</td>
                            <td>@(Item.IsHidden ? "Yes" : "No")</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

<script>
    $(document).ready(function () {

        @if(Model.Notices.Count > 0)
                    { <text>
        $("#btnDelete").hide();

        var table = $('#maintable').DataTable({
            responsive: true,
            select: "multiple",
            "dom": '<lf<t>ip>',
            "ordering": false,
            "columns": [
                { "data": "a1" },
                { "data": "a2" },
                { "data": "a3" },
                { "data": "a4" },
                { "data": "a5" }
            ],
            "columnDefs": [{
                "targets": [0, 1, 2, 3, 4], // column or columns numbers
                "orderable": false,  // set orderable for selected columns
            }
                ,
                {
                    "targets": [0],
                    visible: false,
                }],
        });

                </text>
        }
    });

    $('#maintable tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $('#maintable').DataTable().$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        if ($('#maintable').DataTable().rows('.selected').any()) {
            $("#btnDelete").show();
            $("#btnHide").show();
        } else {
            $("#btnDelete").hide();
            $("#btnHide").hide();
        };
    });

        $("#btnHide").click(function () {
        if ($('#maintable').DataTable().rows('.selected').any()) {
            BootstrapDialog.show({
                title: 'Confirm Setting to Hidden',
                message: 'Please confirm that you would like to hide this notice',
                buttons: [{
                    label: 'Close',
                    cssClass: 'btn-primary pull-right',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }, {
                    label: 'Confirm',
                    cssClass: 'btn-danger pull-left',
                    action: function (dialogItself) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("HideNotice", "Manage")',
                            data: { "Id": $('#maintable').DataTable().row('.selected').data().a1},
                            success: function (data) {
                                if (data == "Successful") {
                                    location.reload();
                                }
                            }
                        });
                    }
                }]
            });
        };
    });

    $("#btnDelete").click(function () {
        if ($('#maintable').DataTable().rows('.selected').any()) {
            BootstrapDialog.show({
                title: 'Confirm Deletion',
                message: 'Please confirm that you would like to delete this notice',
                buttons: [{
                    label: 'Close',
                    cssClass: 'btn-primary pull-right',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }, {
                    label: 'Confirm',
                    cssClass: 'btn-danger pull-left',
                    action: function (dialogItself) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("DeleteNotice", "Manage")',
                            data: { "Id": $('#maintable').DataTable().row('.selected').data().a1},
                            success: function (data) {
                                if (data == "Successful") {
                                    location.reload();
                                }
                            }
                        });
                    }
                }]
            });
        };
    });
</script>