@model SalaahTimesViewModel

@{
    ViewData["Title"] = "Salaah Times";
    Layout = "~/Views/Manage/_Layout.cshtml";

    <style>
        #maintable {
            background-color: #272626;
        }

        .pagination > li > a, .pagination > li > span {
            background-color: #383838;
        }

        .pagination > li.active > a, .pagination > li.active > span {
            background-color: #1FA154;
        }

        /*.table-striped > tbody > tr:nth-child(odd) > td,
        .table-striped > tbody > tr:nth-child(odd) > th {
            background-color: #383838;
        }

        table tr:nth-child(odd) td {
            background-color: #383838;
        }*/

        table.dataTable tbody tr.selected {
            background-color: #1FA154;
        }
    </style>
}

@inject RazorHelperService service;

<h2>SalaahTimes</h2>

<br /><br />

<div class="row">
    <div class="col-md-12">

        @if (Model.Type == SalaahTimesType.ScheduleTime)
        {
            <a href="@Url.Action("AddSalaahTime", "Manage")"><h4>Add Salaah Time</h4></a>
        }
        else
        {
            <form name="submitFileForm" id="submitFileForm" method="post">
                <label for="file">Upload RapidSoft MUST File:</label>
                <input id="MyFile" name="MyFile" type="file" />
                <input type="button" onclick="submitFile()" value="Upload" />
            </form>
        }

        <br />

        @if (Model.SalaahTimes.Count >= 1)
        {
            <div class="collapse navbar-collapse in">
                <ul class="nav navbar-nav navbar-right">
                    <li><a id="btnDelete" class="btn m-r-5"><i style="color:white" class="fa fa-trash"></i><span style="color:white; padding-left:10px">Delete</span></a></li>
                    <li><a href="#delete_all_modal" data-toggle="modal" class="btn m-r-5"><i style="color:white" class="fa fa-trash"></i><span style="color:white; padding-left:10px">Delete All Salaah Times</span></a></li>
                </ul>
            </div>

            <table id="maintable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Date</th>
                        <th>Fajr Adhaan</th>
                        <th>Fajr Salaah</th>
                        <th>Jumuah Adhaan</th>
                        <th>Jumuah Salaah</th>
                        <th>Dhuhr Adhaan</th>
                        <th>Dhuhr Salaah</th>
                        <th>Asr Adhaan</th>
                        <th>Asr Salaah</th>
                        <th>Isha Adhaan</th>
                        <th>Isha Salaah</th>
                    </tr>
                </thead>

                @if (Model.Type == SalaahTimesType.ScheduleTime)
                {
                    <tbody>
                        @foreach (var Item in Model.SalaahTimes.OrderBy(s => service.GetDateTimeAddDays(s.DayNumber)))
                        {
                            <tr>
                                <td>@Item.Id</td>
                                <td>@service.GetDateTimeAddDays(Item.DayNumber).ToLongDateString()</td>
                                <td>@Item.FajrAdhaan.ToString("HH:mm")</td>
                                <td>@Item.FajrSalaah.ToString("HH:mm")</td>
                                <td>@Item.JumuahAdhaan.ToString("HH:mm")</td>
                                <td>@Item.JumuahSalaah.ToString("HH:mm")</td>
                                <td>@Item.DhuhrAdhaan.ToString("HH:mm")</td>
                                <td>@Item.DhuhrSalaah.ToString("HH:mm")</td>
                                <td>@Item.AsrAdhaan.ToString("HH:mm")</td>
                                <td>@Item.AsrSalaah.ToString("HH:mm")</td>
                                <td>@Item.IshaAdhaan.ToString("HH:mm")</td>
                                <td>@Item.IshaSalaah.ToString("HH:mm")</td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var Item in Model.SalaahTimes.OrderBy(s => service.GetDateTimeAddDays(s.DayNumber, s.TimeDate)))
                        {
                            <tr>
                                <td>@Item.Id</td>
                                <td>@service.GetDateTimeAddDays(Item.DayNumber, Item.TimeDate).ToLongDateString()</td>
                                <td>@Item.FajrAdhaan.ToString("HH:mm")</td>
                                <td>@Item.FajrSalaah.ToString("HH:mm")</td>
                                <td>@Item.JumuahAdhaan.ToString("HH:mm")</td>
                                <td>@Item.JumuahSalaah.ToString("HH:mm")</td>
                                <td>@Item.DhuhrAdhaan.ToString("HH:mm")</td>
                                <td>@Item.DhuhrSalaah.ToString("HH:mm")</td>
                                <td>@Item.AsrAdhaan.ToString("HH:mm")</td>
                                <td>@Item.AsrSalaah.ToString("HH:mm")</td>
                                <td>@Item.IshaAdhaan.ToString("HH:mm")</td>
                                <td>@Item.IshaSalaah.ToString("HH:mm")</td>
                            </tr>
                        }
                    </tbody>
                }


            </table>
        }

    </div>
</div>

<script>
    function deleteAll() {
        $('#delete_all_modal').modal('hide');

        $.ajax({
            type: 'post',
            url: '@Url.Action("DeleteAllTimes", "Manage")',
            success: function (data) {
                if (data == "Successful") {
                    $("#delete_all_successful_modal").modal('show');
                }
                else {
                    $("#delete_all_failed_modal").modal('show');
                }
            }
        });
    }

    var data = new FormData();

    $("#MyFile").change(handleFileSelect);

    function handleFileSelect() {
        data.append('file', $('#MyFile')[0].files[0]);
    };

    function submitFile() {
        $("#file_upload_modal").modal('show');

        $.ajax({
            type: 'post',
            processData: false,
            contentType: false,
            url: '@Url.Action("UploadRapidsoft", "Manage")',
            data: data,
            success: function (data) {
                if (data == "Success") {
                    $("#file_upload_modal_h5").html("Your file was successfully processed");
                    $("#file_upload_modal_closebutton").css("display", "inline");
                }
                else {
                    $("#file_upload_modal_h5").html("Unfortunately your file could not be successfully processed");
                    $("#file_upload_modal_closebutton").css("display", "inline");
                    $("#file_upload_modal_closebutton").removeClass("btn-success");
                    $("#file_upload_modal_closebutton").addClass("btn-danger");
                }
            }
        });
    };


        @if(Model.SalaahTimes.Count > 0)
        {
        <text>
    function mainTable() {
        $('#maintable').DataTable().destroy();

        return $('#maintable').DataTable({
            responsive: true,
            select: "single",
            "dom": '<lf<t>ip>',
            "ordering": false,
            "columns": [
                { "data": "a1" },
                { "data": "a2" },
                { "data": "a3" },
                { "data": "a4" },
                { "data": "a5" },
                { "data": "a6" },
                { "data": "a7" },
                { "data": "a8" },
                { "data": "a9" },
                { "data": "a10" },
                { "data": "a11" },
                { "data": "a12" },
            ],
            "columnDefs": [{
                "targets": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], // column or columns numbers
                "orderable": false,  // set orderable for selected columns
            }
                ,
            {
                "targets": [0],
                visible: false,
            }],
        });
    };

    $('#maintable tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        }
        else {
            $('#maintable').DataTable().$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        if ($('#maintable').DataTable().rows('.selected').any()) {
            $("#btnDelete").show();//.css("display", "inline");
        } else {
            $("#btnDelete").hide();//.css("display", "none");
        };
    });
        </text>
        }


    $(document).ready(function () {

        $("#btnDelete").hide();

        mainTable();

    });

    $("#btnDelete").click(function () {
        if ($('#maintable').DataTable().rows('.selected').any()) {
            BootstrapDialog.show({
                title: 'Confirm Deletion',
                message: 'Please confirm that you would like to delete this salaah time record',
                buttons: [{
                    label: 'Close',
                    cssClass: 'btn-primary pull-right',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }, {
                    label: 'Confirm',
                    cssClass: 'btn-danger pull-left',
                    action: function (dialogItself) {
                        $.ajax({
                            type: 'post',
                            url: '@Url.Action("DeleteSalaahTime", "Manage")',
                            data: { "Id": $('#maintable').DataTable().row('.selected').data().a1},
                            success: function (data) {
                                if (data == "Successful") {
                                    $("#btnDelete").hide();
                                    location.reload();
                                }
                            }
                        });
                    }
                }]
            });
        };
    });
</script>